<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>SM</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Userat!!!</h1>
    </div>

    <strong> Username: <span sec:authentication="name"></span> </strong>

    <h3><a th:href="@{/shto}">Shto User</a></h3>


    <div>
        &nbsp;
    </div>


    <div class="m-3">
        <form th:action="@{/lista_clienteve}">
            Kerko Userin Permes E-Mailit:
            <input type="text" name="fjalKyqe" th:value="${fjalKyqe}" required/>
            &nbsp;
            <input type="submit" value="search"/>
            &nbsp;
            <input type="button" value="clear" onclick="clearFilter()"/>
        </form>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>UserId</th>
                <th>E-Mail</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Roli</th>
                <th>Opsionet</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${userList}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">User Email</td>
                <td th:text="${user.firstName}">User Name</td>
                <td th:text="${user.lastName}">User LastName</td>
                <td th:text="${user.roli}">User Role</td>
                <td>
                    <a th:href="@{'/editUser/' + ${user.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deleteUser/' + ${user.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<script type="text/javascript">
    function clearFilter(){
        window.location = "/lista_clienteve";
    }
</script>

</body>
</html>