<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HotelA</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/scrolling-nav.css}" rel="stylesheet">
    <link th:href="@{/css/contact.css}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">

        <a href="#page-top"><img src="images/blueicone.png" class="icone"></a>

        <a class="navbar-brand js-scroll-trigger" href="#page-top">HotelA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#dhomatELira">Dhomat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">KONTAKT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="section-padding" style="padding-top: 40px" id="dhomatELira">
    <h2 style="padding-top: 100px;" class="sub-title text-center test">REZERVONI!</h2>
    <div style="padding-top: 30px;" class="card-deck">
        <div class="container">

            <div class="row">
                <div class="col-md-4" th:each="dhoma: ${teLira}">
                    <div class="card my-3">
                        <!-- set a width on the image otherwise it will expand to full width       -->
                        <img class="card-img-top" src="images/room1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <div class="row">
                                <div class="col-md-7">
                                    <p style="font-weight: bold; float: right;">Emri Dhomes: </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text" th:text="${dhoma.emertimi}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <p style="font-weight: bold; float: right;">Kati: </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text" th:text="${dhoma.kati}"></p>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <p style="font-weight: bold; float: right;">Numri Shtreterve: </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-text" th:text="${dhoma.nrShtreterve}"></p>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p style="font-weight: bold; float: right;">Cmimi: </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="card-text" th:text="${dhoma.cmimi}"></p>
                                        </div>
                                            <p>$</p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <form method="post" th:action="@{/procesi_rezervimit}">
                                            <input type="hidden" name="ngaData" th:value="${param.nga}"/>
                                            <input type="hidden" name="deriMeDaten" th:value="${param.deri}"/>
                                            <input type="hidden" name="dhomaID" th:value="${dhoma.id}"/>
                                            <button type="submit" class="btn btn-primary">Rezervo</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <div class="form-group">
                        <a th:href="@{/rezervon}">
                            <button type="submit" class="btn btn-danger">ANULO</button>
                        </a>
                    </div>
                </div>
</section>


<!-- kontaktimi-->
<section id="contact">

    <div class="section-content">
        <h1 class="section-header">Kontakto</h1>
    </div>
    <div class="contact-section">

        <div class="container">
            <form action="https://formspree.io/aberisha85@hotmail.com" method="POST">

                <div style="float: left; width: 50%; padding: 10px;" class=" col-sm-6 form-line">
                    <div class="form-group">
                        <label for="Emri-Mbiemri">Emri Mbiemri</label>
                        <input type="text" class="form-control" id="Emri-Mbiemri" placeholder=" Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" placeholder=" Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Numri Telefonit</label>
                        <input type="tel" class="form-control" id="telephone"
                               placeholder=" Enter 10-digit mobile no.">
                    </div>
                </div>
                <div style="float:right;" class="col-sm-6">
                    <div class="form-group">
                        <label for="description">Mesazhi</label>
                        <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                    </div>
                    <div>

                        <button type="button" class="btn btn-outline-success submit"><i class="fa fa-paper-plane"
                                                                                        aria-hidden="true"></i> Dergo
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="float-right d-none d-sm-inline">
        <a style="width: 24px; padding-left: 10px; " href="https://www.facebook.com/berisha24"> <img  src="/images/facebook.png"></a>
        <a style="width: 24px; padding-left: 10px; " href="https://github.com/arberberiisha"> <img  src="/images/github.png"></a>
        <a style="width: 24px; padding-left: 10px; padding-right: 40px;" href="https://www.instagram.com/arber_beriisha/"> <img  src="/images/instagram.png"></a>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Arber Berisha</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Plugin JavaScript -->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom JavaScript for this theme -->
<script th:src="@{js/scrolling-nav.js}"></script>
<script>
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>

</html>