<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HotelA</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/scrolling-nav.css}" rel="stylesheet">
    <link th:href="@{/css/contact.css}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">

        <a href="#page-top"><img src="images/blueicone.png" class="icone"></a>

        <a class="navbar-brand js-scroll-trigger" style="color:	#8A2BE2;" href="#page-top">HotelA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#kryefaqe">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#dhomat">DHOMAT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#sherbimet">SHERBIMET</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">KONTAKT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header id="kryefaqe" class="header bg-info text-white">


    <div class="container text-center">
        <h1 style="padding-top: 30px;" class="sub-title text-center test">HOTEL</h1>
        <h3 style="padding-top: 40px;" class="sub-title text-center test">REZERVONI</h3>
        <form th:action="@{/dhomatelira}">
            <div style="padding-top: 20px" class="row margin:auto;">


                <div class="col-sm-4 offset-md-2">
                    <div class="form-group">
                        <label for="nga">Nga Data:</label>
                        <input name="nga" id="nga" type="date" class="form-control" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="deri">Deri Me Daten:</label>
                        <input name="deri" id="deri" type="date" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Kerko</button>
                </div>
            </div>


        </form>
        <div class="row text-center">
            <div class="col-sm-6 form-group">
                <button class="btn btn-warning" type="submit">Rezervimet</button>
            </div>
            <form class="col-sm-6 form-group" th:action="@{/logout}">
                <a href="/logout" id="logout_" title="Log out">
                    <button class="btn btn-danger" type="submit">Logout</button>
                </a>
            </form>
        </div>
    </div>
</header>

<!--Foto te Dhomave-->
<section class="section-padding" style="padding-top: 40px" id="dhomat">
    <h2 class="sub-title text-center test">DHOMAT E HOTELIT</h2>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="images/room1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dhoma Familjare</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/room2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dhoma Normale</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/room3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">VIP</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sherbimet Tona-->
<section class="services-sec text-white backImage" style="padding-top: 40px" id="sherbimet">
    <div style="padding-top: 40px">
        <h2 class="sub-title text-center test">SHERBIMET</h2>


        <!-- room services and breakfast (up row) -->
        <section class="tm-service-section text-center ">
            <div class="container">
                <div class="row">
                    <div class="col" style="padding-top: 40px;">
                        <img style="width:50px; height:50px;" src="images/bell-48.png">
                        <div>
                            <p class="b test">Room Service</p>
                            <p>Enjoy your stay with excellent and timely room service</p>
                        </div>

                    </div>
                    <div class="col" style="padding-top: 40px;">

                        <img style="width:50px; height:50px;" src="images/coffee-48.png">
                        <div>
                            <p class="b test">Free Breakfast</p>
                            <p>Enjoy Free Breakfast every morning</p>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col" style="padding-top: 40px;">
                        <img style="width:50px; height:50px; " src="images/car-4-48.png">
                        <div>
                            <p class="b test">Free Parking</p>
                            <p>No need to pay any extra charges to park your vehicle</p>
                        </div>
                    </div>
                    <div class="col" style="padding-top: 40px;">
                        <img style="width:50px; height:50px;" src="images/24-hour-service-48.png">
                        <div>
                            <p class="b test">Room Service</p>
                            <p>Enjoy your stay with excellent and timely room service</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- kontaktimi-->
<section class="mainnn text-white" id="contact">
    <div>
        <h2 style="padding-top: 50px;" class="sub-title text-center test">KONTAKTONI</h2>
        <div>
            <form action="https://formspree.io/aberisha85@hotmail.com" method="POST">
                <div class="row" style="  width: 100%;float:left;padding-top: 20px; padding-left: 5%;">
                    <div class="colll">
                        <label for="fname">Emri</label>
                        <input type="text" id="fname" name="Emri" placeholder="Emri juaj ...">
                    </div>
                    <div class="colll">
                        <label for="lname">Mbiemri</label>
                        <input type="text" id="lname" name="Mbiemri" placeholder="Mbiemri juaj ...">
                    </div>
                    <div class="colll">
                        <label for="shteti">Shteti</label>
                        <select id="shteti" name="shteti">
                            <option value="kosova">Kosova</option>
                            <option value="shqiperia">Shqiperia</option>
                            <option value="tjeter">Tjeter</option>
                        </select>
                    </div>
                </div>
                <div style="padding-top: 20px;  padding-left: 5%">
                    <label for="komenti">Komenti</label>
                    <textarea id="komenti" name="komenti" placeholder="Shkruani komentin tuaj..."
                              style="height:200px; width: 90%;"></textarea>
                    <div class="text-center" style="padding-top: 20px; padding-bottom: 20px;">
                        <input style="width:20%" type="submit" value="Dergo">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Arber Berisha</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Plugin JavaScript -->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom JavaScript for this theme -->
<script th:src="@{js/scrolling-nav.js}"></script>
<script>
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>

</html>
