<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HotelA</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/scrolling-nav.css}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">

        <img src="images/blueicone.png" class="icone">

        <a class="navbar-brand js-scroll-trigger" href="#page-top">HotelA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#dhomat">DHOMAT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#sherbimet">SHERBIMET</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="header bg-info text-white">
    <div class="container text-center">
        <form th:action="@{/dhomatelira}">
            <div class="row">


                <div class="col-md-3 offset-md-2">
                    <div class="form-group">
                        <label for="nga">Nga Data:</label>
                        <input name="nga" id="nga" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="deri">Deri Me Daten:</label>
                        <input name="deri" id="deri" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Kerko</button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</header>

<!--Foto te Dhomave-->
<section class="section-padding" style="padding-top: 40px" id="dhomat">
    <h2 class="sub-title text-center test">DHOMAT E HOTELIT</h2>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="images/room1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/room2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/room3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sherbimet Tona-->
<section class="services-sec text-white backImage" style="padding-top: 40px" id="sherbimet">
    <div >
        <h2 class="sub-title text-center test" >OUR FACILITIES AND SERVICES</h2>
        <h2 class="sub-title text-center test" >-</h2>
        <h2 class="sub-title text-center test" >-</h2>
        <h2 class="sub-title text-center test" >-</h2>

        <!-- room services and breakfast (up row) -->
        <section class="tm-service-section text-center ">
            <div class="container">
                <div class="row">
                    <div class="col" style="padding-top: 40px;">
                        <img style="width:50px; height:50px;"   src="images/bell-48.png">
                        <div>
                            <p class="b test">Room Service</p>
                            <p>Enjoy your stay with excellent and timely room service</p>
                        </div>

                    </div>
                    <div class="col" style="padding-top: 40px;">

                        <img style="width:50px; height:50px;"   src="images/coffee-48.png">
                        <div>
                            <p class="b test">Free Breakfast</p>
                            <p>Enjoy Free Breakfast every morning</p>
                        </div>
                    </div>
                    <div class="w-100" ></div>
                    <div class="col" style="padding-top: 40px;">
                        <img style="width:50px; height:50px; "   src="images/car-4-48.png">
                        <div>
                            <p class="b test">Free Parking</p>
                            <p>No need to pay any extra charges to park your vehicle</p>
                        </div></div>
                    <div class="col" style="padding-top: 40px;">
                        <img  style="width:50px; height:50px;"   src="images/24-hour-service-48.png">
                        <div>
                            <p class="b test">Room Service</p>
                            <p>Enjoy your stay with excellent and timely room service</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem
                    dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
                    exercitationem, in, quo totam.</p>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Arber Berisha</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Plugin JavaScript -->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom JavaScript for this theme -->
<script th:src="@{js/scrolling-nav.js}"></script>
<script>
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>

</html>
