<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>HotelA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
<div class="container text-center">

    <nav class="nav nav-pills flex-column flex-sm-row">
        <img src="images/icone.png" alt="user" class="icone">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" onclick="document.getElementById('id01').style.display='block'" href="#">LogIn</a>
    </nav>
    <div>
    <h1>Mire se Vinii.</h1>
    </div>
    <div>
        <h3><a th:href="@{/lista_clienteve}">ListAllUsers</a></h3>
        <h3><a th:href="@{/register}">Register</a></h3>
        <h3><a th:href="@{/shto}">Shto User</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
        <h3><a th:href="@{/lista_rezervimeve}">Lista e Rezervimeve</a></h3>
        <h3><a th:href="@{/lista_dhomave}">Dhomat</a></h3>
        <h3><a th:href="@{/shtodhomeForm}">ShtoDhome</a></h3>
        <h3><a th:href="@{/rezervon}">Rezervo Hotel</a></h3>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>


        <div id="id01" class="modal">

            <form class="modal-content animate" th:action="@{/login}" method="post">
                <fieldset>
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                    </div>


                    <div class="container">

                        <img src="images/user.png" alt="user" class="avatar">

                        <label for="username">Username</label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="username" name="password" required>

                        <button type="submit"  data-toggle="modal" href="#myModal" onclick="loginAjax()">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" id="password" name="remember"> Remember me
                        </label>
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</div>

<script src=""  th:src="@{js/scripts.js}" ></script>

<script>
    var modal = document.getElementById('id01');

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


</body>
</html>
