<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>SM</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
    <h1>All Users!!!</h1>
    </div>

    <strong> Username: <span sec:authentication="name"></span> </strong>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>UserId</th>
                <th>E-Mail</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">User Email</td>
                <td th:text="${user.firstName}">User Name</td>
                <td th:text="${user.lastName}">User LastName</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>